---
export { getStaticPaths, getLayoutProps } from '@shipyard/blog'
import Layout from '@shipyard/base/layouts/Page.astro'
import { TableOfContents } from '@shipyard/base/components/TableOfContents'

const { entry } = Astro.props
const { Content, headings } = await entry.render()
const props = getLayoutProps(Astro)
---

<Layout {...props}>
  <div>
    <div class="prose mx-auto w-full px-8">
      <Content />
    </div>
    <TableOfContents links={headings} />
  </div>
</Layout>
